@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Canela-Light";
  src: url("/fonts/Canela-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canela-LightItalic";
  src: url("/fonts/Canela-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Canela-Light", "Canela-LightItalic", sans-serif;
}
